<form action="<%= sub_url(@sub) %>" method="post">
<%= auth_token %>
  <input type="hidden" name="_method" value="patch" />
  <h2> <%= "Edit #{@sub.title}:"  %></h2>

  <label> Title:
    <input type="text" name="sub[title]"/>
  </label>

  <label> Description:
    <textarea name="sub[description]"> <%= @sub.description%> </textarea>
  </label>

  <input type="submit" value="Update Sub!" />

</form>
